services:
  mysql:
    image: 'mysql:8'
    container_name: ec2confi-mysql
    restart: unless-stopped

    environment:
      - 'MYSQL_DATABASE=port_user'
      - 'MYSQL_ROOT_PASSWORD=mautiennam2003'
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

    deploy:
      resources:
        limits:
          memory: 512M
          cpus: "0.50"

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-fize: "3"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spring-app
    restart: unless-stopped

    depends_on:
      mysql:
        condition: service_healthy

    ports:
      - "8080:8080"

    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/port_user
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: mautiennam2003
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  mysql_data:
