apiVersion: apps/v1
kind: Deployment
metadata:
  name: ec2confi-mysql
  namespace: ec2confi-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: mysql:8
        env:
        - name: MYSQL_DATABASE
          value: port_user
        - name: MYSQL_ROOT_PASSWORD
          #Injects the password from the secret created above
          valueFrom:
            secretKeyRef:
              name: ec2confi-secrets
              key: mysql-root-password
        ports:
        - containerPort: 3306
        volumeMounts:
        - name: mysql-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-storage
        persistentVolumeClaim:
          claimName: mysql-data-pvc