<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="auth-body">
<div class="auth-container">
    <h2>Register</h2>

    <form onsubmit="register(event); return false">
        <div>
            <label>Username:</label>
            <input id="username" type="text" required>
        </div>

        <div>
            <label>Password:</label>
            <input id="password" type="password" required>
        </div>

        <button type="submit">Register</button>
    </form>

    <p>
        Already have account?
        <a href="/login">Login here</a>
    </p>

    <div id="message"></div>
</div>

<script>
    async function register(event) {
        event.preventDefault();

        const messageEl = document.getElementById("message");
        messageEl.innerText = "";

        try {
            const res = await fetch("/api/auth/register", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    username: document.getElementById("username").value,
                    password: document.getElementById("password").value
                })
            });

            const data = await res.json();

            if (!res.ok) {
                throw new Error(data.message || "Register failed");
            }

            messageEl.style.color = "green";
            messageEl.innerText = "Register success! Redirecting...";

            setTimeout(() => {
                window.location.href = "/login";
            }, 1200);

        } catch (err) {
            messageEl.style.color = "red";
            messageEl.innerText = err.message;
        }
    }
</script>
</body>
</html>