<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="auth-container">
<h2>Register</h2>
<form th:action="@{/saveUser}" method="post" th:object="${user}">
    <div>
        <label>Username:</label>
        <input type="text" th:field="*{username}" required>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" th:field="*{password}" required>
    </div>

    <button type="submit">Register</button>
</form>
<p>
    Already have account?
    <a th:href="@{/login}">Login here</a>
</p>
</div>

</body>
</html>